Practical 1:

Incidence Matrix & Boolean Retrieval

docs = ["why hello there", "omg hello pony", "she went there? omg"]

Queries: 1. hello and omg
         2. omg or there

In [7]:
import pandas as pd
import re

documents = ["why hello there", "omg hello pony", "she went there? omg"]
keywords = []

docs = ' '.join(documents)
#print(docs)
docs = re.sub('\W', ' ', docs)
#print(docs)
docs = docs.split()

for word in docs:
    if word not in keywords:
        keywords.append(word)
print(keywords)

['why', 'hello', 'there', 'omg', 'pony', 'she', 'went']

In [15]:
dic = {}

for word in keywords:
    l = []
    for doc in documents:
        if word in doc:
            l.append(1)
        else:
            l.append(0)
    dic[word] = l
#print(dic)

df = pd.DataFrame(data = dic, index = ["Document 1", "Document 2", "Document 3"])
df.T

       Document 1  Document 2  Document 3
why             1           0           0
hello           1           1           0
there           1           0           1
omg             0           1           1
pony            0           1           0
she             0           0           1
went            0           0           1

In [18]:
k1, op, k2 = map(str, input("Enter Query: ").split())
d = "Document "

if op == "and":
    for i in range(3):
        print(df[k1][d + str(i + 1)] and df[k2][d + str(i + 1)], end = ' ')
elif op == "or":
    for i in range(3):
        print(df[k1][d + str(i + 1)] or df[k2][d + str(i + 1)], end = ' ')
else:
    print("Invalid Operation")

Enter Query: omg or there
1 1 1

Outputs:

Enter Query: hello and omg
0 1 0

Enter Query: omg or there
1 1 1